media/
static/
.env
venv/
db.sqlite3
__pycache__/
*.pyc
.idea/
*.log
migrations/

# Python
back/venv/
back/__pycache__/
back/*.pyc

# Django
back/media/
back/staticfiles/

# Node
front/node_modules/
front/dist/
front/.next/
