@import "tailwindcss";

@font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('../../kvarthub-frontend/src/assets/fonts/outfit-v15-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../../kvarthub-frontend/src/assets/fonts/outfit-v15-latin-600.woff2') format('woff2'); 
}

body{
    font-family: 'Outfit', sans-serif;
    padding-right: 20px;
    padding-left: 20px;

    
}

.containers{
    max-width: 1300px;
    margin: 0 auto;
}
.custom-input input::placeholder {
  color: #1C1C1C !important;
}
