@import "tailwindcss";

@font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('../../kvarthub-frontend/src/assets/fonts/outfit-v15-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../../kvarthub-frontend/src/assets/fonts/outfit-v15-latin-600.woff2') format('woff2'); 
}

body{
    font-family: 'Outfit', sans-serif;
   

    
}

.containers{
    max-width: 1300px;
    margin: 0 auto;
}
.custom-input input::placeholder {
  color: #1C1C1C !important;
}


.ant-input {
    --ant-input-active-shadow: none !important ;
    
}
.ant-input::placeholder{
  color: #1C1C1C;
  font-weight: 700;
}

.div{
 background: rgba(229, 229, 229, 0.5); 
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(204, 204, 204, 0.5);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  
  scrollbar-width: none;   
}

.custom-password-input .ant-input::placeholder {
  transition: all 0.3s;
}

.custom-password-input .ant-input:hover::placeholder {
  color: #5C5C5C !important;
}